/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Product
target
*.class
*.jar
*.war
*.[oa]
*.so
*.dylib
*.luac
*.pyc
*.log

# Develop Software
*.iml
rebel.xml
.*.swp
tags

# VCS
.svn
.git
.hg
CVS

# macOs
.DS_Store
Icon

# Directory
/build
/log
/node_modules
/out
/output